### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

src/main/resources/plugins/*.jar
out

# ---- Sonar
.sonar

# ---- IntelliJ IDEA
*.iws
*.iml
*.ipr
.idea

# ---- Eclipse
.classpath
.project
.settings

# ---- Maven
target

# ---- Mac OS X
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes

# ---- Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Gradle
.gradle
classes
build
.scannerwork/
